alembic==1.13.0
asyncpg==0.27.0
bcrypt==4.1.2
cryptography==41.0.7
dependency-injector==4.41.0
fastapi==0.103.2
fastapi-versioning==0.10.0
flake8==7.0.0
gunicorn==20.1.0
httpx==0.26.0
numpy==1.26.2
pandas==2.1.4
passlib[bcrypt]==1.7.4
psycopg==3.1.10
psycopg-binary==3.1.10
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
pydantic[email]
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
python-okx==0.2.3
PyYAML==6.0.1
requests==2.31.0
SQLAlchemy==2.0.22
starlette==0.27.0
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.22.0
validators==0.20.0
